ficha1/ficha1/bin
ficha1/ficha1/obj
ficha1/ficha1/Properties
*.suo
ficha1/ficha1.v12.suo
*.exe
*.pdb
*.cache
ficha1/ficha1/bin/Debug/ficha1.exe
ficha1/ficha1.v12.suo
ficha1\ficha1\org
final\queixinhas\node_modules