doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		script(src='/js/bootstrap.js')
	body
		nav.navbar-fixed-top(style='background-color: lightblue')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button')
					a(class='navbar-brand', href='/', style='color: black')= title
				div.navbar-form.navbar-right
					form(action='/login', method='post')
						div.form-group
							input.form-control(type='text', placeholder='Nome', name='username')
						div.form-group
							input.form-control(type='password', placeholder='Password', name='password')
						button(class='btn btn-default', type='submit') Entrar
						a(class='btn btn-success', href='/register', role='button', style='margin-left: 50px') Registar
						
		block content